{include file="view/index/_meta.html"}
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理员管理 <span class="c-gray en">&gt;</span> 权限列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="text-c">
		<form class="Huiform" method="post" action="power.php?c=power&&a=adminPower" target="_self">
			<input type="text" class="input-text" style="width:250px" placeholder="权限名称" id="power_name" name="power_name">
			<button class="btn btn-success"><i class="Hui-iconfont">&#xe665;</i> 搜索权限名称</button>
		</form>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> 
	<span class="l">
	<!--<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>-->
	
	<a href="power.php?c=power&&a=addPower" class="btn btn-primary radius">
	<i class="Hui-iconfont">&#xe600;</i> 添加权限</a></span>
	<!--<span class="r">共有权限：<strong>43</strong> 条</span>--> </div>
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr>
				<th scope="col" colspan="7">权限列表</th>
			</tr>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th width="40">ID</th>
				<th width="200">权限名称</th>
				<th width="200">控制器名</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody>
		{section name=sn loop=$data}
			<tr class="text-c">
				<td><input type="checkbox" value="1" name=""></td>
				<td>{$data[sn].power_id}</td>
				<td>
				<!--<?php echo str_repeat("&nbsp;",$v['flage']*6);?>-->
				
									{if $data[sn].parent_id eq 0}
										<option value="{$data[sn].power_id}">{$data[sn].power_name}</option>
									{else}
										<option value="{$data[sn].power_id}">
										
							{"&nbsp;&nbsp;&nbsp;"|str_repeat:{$data[sn].flage*4}}			{$data[sn].power_name}
										</option>
									{/if}
								
				</td>
				<td>	
				{$data[sn].controller_name}
				</td>
				<td>
				<a title="编辑" href="power.php?c=power&&a=editPower&&power_id={$data[sn].power_id}" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
				
				<a title="删除" href="javascript:;" onclick="admin_permission_del(this,{$data[sn].power_id})" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
			
		</tr>
		{/section}
		</tbody>
	</table>
	<!--<center>
	<span class="Hui-iconfont">{$page}</span>
	</center>-->
	
</div>
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="lib/layer/2.1/layer.js"></script> 
<script type="text/javascript" src="lib/laypage/1.2/laypage.js"></script> 
<script type="text/javascript" src="lib/My97DatePicker/WdatePicker.js"></script> 
<script type="text/javascript" src="static/h-ui/js/H-ui.js"></script> 
<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script> 
<script type="text/javascript" src="static/h-ui/js/power/admin-power.js"></script>
</body>
</html>